body{
    background-color: #370926;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    align-items: center;

}
h1{
    color: #C17C74;
    width: 100%;
    text-shadow: 1px 1px #1C0118;
}
input{
    background-color: #DDC9B4;
    border-radius: 10px;
    
}
.card{
    background-color: #3A606E;
    width: 10rem;
    display: flex;  
    flex-flow: column;
    padding: 1rem;
    box-shadow: 1px 1px #1C0118;
    border-radius: 50px;
    margin-bottom: 2rem;


}
.game-container{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    background-color: #370926;
}
.game{
    background-color: #3A606E;
    color: #DDC9B4;
    border-radius: 25px;
    width: 80%;
    padding: 1rem;
    margin: 5px;
}
.game img{
    width: 10rem;
    height: 10rem;
}
.played{
    background-color: #370926;
    border-radius: 25px;
}
button{
    background-color: #1C0118;
    color: #DDC9B4;
}